<ul>
  <li>Max Response time accross all requests: <%= @single_url.max_response_time%></li>
  <li>Min Response time across all requests: <%= @single_url.min_response_time %></li>
  <li>Response time across all requests: <%= @single_url.response_times_across_all_requests%></li>
  <li>Average reponse time for this Url: <%= @single_url.average_response_time %></li>
  <li>List of all HTTP verbs used: <%= @single_url.all_http_verbs %></li>
  <li>Three most popular referrers: <%= @single_url.most_popular_referrers %></li>
  <li>Three most popular user agents: <%= @single_url.most_popular_user_agents%> </li>
</ul>
